[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
requests = "*"
pydantic = "~=1.10.0"
sqlalchemy = "*"
psycopg2 = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-dotenv = "*"

[dev-packages]
sqlalchemy-stubs = "*"
pytest = "*"
pytest-mock = "*"
black = "*"
httpx = "*" # https://github.com/tiangolo/fastapi/issues/5656
mypy = "*"
types-requests = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9.6"
